
// VARIABLES
$color-gris: #252B2B;
$color-petroleo: #3C5053;
$color-turquesaoscuro:#587B7F;
$color-turquesa:#75B9BE;
$color-turquesamedio: #A8CCC9;
$color-turquesaclaro:#B3D6C6;
$color-verde:#C7D66D;
$color-amarillo:#EBC400;
$color-mostaza:#E3AD19;
$color-blanco:#ffffff;
